# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
# /.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ignored for the template, you probably want to remove it:
package-lock.json

Aqeeda Qs Batch2 for Upload on 25-Apr-25.xlsx

Aqeeda Qs Batch2 for Upload on 27-Apr-25.xlsx

Q3-.xlsx
qbeliefs.zip
.next.zip
qb2.zip

QuranicBelief Qs for Upload - 02May25 Batch 45 Qs for upload.xlsx
Sample Qs- Format for Script to Import Qs Ans
readExcel.js